# ESTUDIANDO WRANGLING

In [770]:
#importamos librerias
import pandas as pd
import numpy as np
import os
from pathlib import Path
import matplotlib.pyplot as plt

In [771]:
#ruta del archivo
filename="reportDTP.csv"
root_dir=Path(".").resolve().parent
filepath=os.path.join(root_dir,"data","raw",filename)
filepath

'C:\\Users\\ADRIA\\OneDrive\\Documentos\\Kucta_BIGDATA\\data\\raw\\reportDTP.csv'

In [772]:
#Leer el archivo
data=pd.read_csv(filepath, delimiter=';"' ,encoding='latin-1')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 17 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   "CMS_Country_Code                                      5 non-null      object
 1   "Transacción de pedido de muestra: Tipo de registro""  5 non-null      object
 2   "Estado""                                              5 non-null      object
 3   "Transacción de pedido de muestra: Transaction Id""    5 non-null      object
 4   "ID envío""                                            5 non-null      object
 5   "Transacción de pedido de muestra: Id.""               5 non-null      object
 6   "País de envío""                                       5 non-null      object
 7   "Muestra""                                             5 non-null      object
 8   "Transacción de pedido de muestra: Creado por""        5 non-null      object
 9   "Nombre de la cuenta""                                 5 non-null      object
 10  "Fecha de caducidad DEA""                              5 non-null      object
 11  "Fecha de visita""                                     5 non-null      object
 12  "Cantidad""                                            5 non-null      object
 13  "Estado de entrega""                                   5 non-null      object
 14  "Territorio""                                          5 non-null      object
 15  "Nombre de la visita""                                 5 non-null      object
 16  "Delivery Instructions"""                              5 non-null      object
dtypes: object(17)
memory usage: 808.0+ bytes

C:\Users\ADRIA\AppData\Local\Temp\ipykernel_31912\3635799585.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data=pd.read_csv(filepath, delimiter=';"' ,encoding='latin-1')

In [773]:
data.columns

Index(['"CMS_Country_Code',
       '"Transacción de pedido de muestra: Tipo de registro""', '"Estado""',
       '"Transacción de pedido de muestra: Transaction Id""', '"ID envío""',
       '"Transacción de pedido de muestra: Id.""', '"País de envío""',
       '"Muestra""', '"Transacción de pedido de muestra: Creado por""',
       '"Nombre de la cuenta""', '"Fecha de caducidad DEA""',
       '"Fecha de visita""', '"Cantidad""', '"Estado de entrega""',
       '"Territorio""', '"Nombre de la visita""', '"Delivery Instructions"""'],
      dtype='object')

In [774]:
columns=['"Transacción de pedido de muestra: Tipo de registro""',
       '"Transacción de pedido de muestra: Transaction Id""',
       '"Transacción de pedido de muestra: Id.""', '"Transacción de pedido de muestra: Creado por""']

In [775]:
#columns=list(data.columns)
from ast import Index


print((columns[0]))
i=0
Frames=[]
#for column in columns:
print(columns[35:-1])
Frames=[data[column].reset_index().rename(columns={column : column[35:-1]}) for column in columns]
i=i+1      
    
Frames[:]
Frames=pd.concat(Frames, axis=1).reset_index()
Frames.pop("index")
Frames

"Transacción de pedido de muestra: Tipo de registro""
Creado por"

,level_0,"Tipo de registro""","Transaction Id""","Id.""","Creado por"""
0,0,"""BRC""""","""SOT-000015757""""","""a0z4O00000Ie2Rt""""","""Rodolfo Perez"""""
1,1,"""BRC""""","""SOT-000015758""""","""a0z4O00000Ie2Ru""""","""Rodolfo Perez"""""
2,2,"""BRC""""","""SOT-000015851""""","""a0z4O00000Ie6p2""""","""SUSANA VALVERDE"""""
3,3,"""BRC""""","""SOT-000015852""""","""a0z4O00000Ie6p3""""","""SUSANA VALVERDE"""""
4,4,"""BRC""""","""SOT-000015828""""","""a0z4O00000Ie3UU""""","""GUSTAVO MURO"""""

In [776]:
Frames.shape

(5, 5)

In [777]:
Frames.loc[Frames.level_0 >2,'level_0']="NO"
Frames.iloc[:,2]="Adrian"

Frames["Selector"]="NaN"

#Frames['Selector']
for i in range(0,Frames.shape[0]):
    Frames.iloc[i,2]="AR0"+ str(i)

type(Frames)

pandas.core.frame.DataFrame

In [778]:
Frames['Id_New']=Frames['Id."'].str[-8:-2]

Frames

,level_0,"Tipo de registro""","Transaction Id""","Id.""","Creado por""",Selector,Id_New
0,0,"""BRC""""",AR00,"""a0z4O00000Ie2Rt""""","""Rodolfo Perez""""",NaN,0Ie2Rt
1,1,"""BRC""""",AR01,"""a0z4O00000Ie2Ru""""","""Rodolfo Perez""""",NaN,0Ie2Ru
2,2,"""BRC""""",AR02,"""a0z4O00000Ie6p2""""","""SUSANA VALVERDE""""",NaN,0Ie6p2
3,NO,"""BRC""""",AR03,"""a0z4O00000Ie6p3""""","""SUSANA VALVERDE""""",NaN,0Ie6p3
4,NO,"""BRC""""",AR04,"""a0z4O00000Ie3UU""""","""GUSTAVO MURO""""",NaN,0Ie3UU

In [779]:
for i in range(0,Frames.shape[0]):
    for j in range(0,Frames.shape[1]):
        if i == j :
            Frames.iloc[i,j]="Adrian"
Frames

,level_0,"Tipo de registro""","Transaction Id""","Id.""","Creado por""",Selector,Id_New
0,Adrian,"""BRC""""",AR00,"""a0z4O00000Ie2Rt""""","""Rodolfo Perez""""",NaN,0Ie2Rt
1,1,Adrian,AR01,"""a0z4O00000Ie2Ru""""","""Rodolfo Perez""""",NaN,0Ie2Ru
2,2,"""BRC""""",Adrian,"""a0z4O00000Ie6p2""""","""SUSANA VALVERDE""""",NaN,0Ie6p2
3,NO,"""BRC""""",AR03,Adrian,"""SUSANA VALVERDE""""",NaN,0Ie6p3
4,NO,"""BRC""""",AR04,"""a0z4O00000Ie3UU""""",Adrian,NaN,0Ie3UU